.about-title {
    font-size: 24px;
    /* margin-bottom: 20px; */
}

.about-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    min-width: 200px;
    width: calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

.about-card-title {
    display: flex;
}

.about-icon {
    width: 18px;
}

.about-card h3 {
    font-size: 18px;
    margin: 2px;
}

.about-card p {
    color: rgba(120, 119, 116, 1);;
    font-size: 14px;
    margin: 0;
}

.about-card-flex {
    display: flex;
    gap: 10PX;
}

.about-card-dates {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
}

.about-card-location {
    padding: 5px 0px;
}

.about-card-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(231, 182, 46, 0.7), rgba(248, 0, 0, 0.3));
    color: black;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0;
    display: flex;
    overflow-y: scroll;
    transition: all 0.4s ease;
}

.about-card:hover .skill{
    opacity: 0;
    /* min-height: 150px; */
    transition: all 0.4s ease;
}

.about-card:hover .about-card-summary{
    opacity: 0;
}

.about-card:hover .about-card-content {
    bottom: 0;
    opacity: 1;
}


@media (max-width: 650px) {
    .about-cards {
        flex-direction: column;
    }

    .about-card {
        width: 100%;
    }
}

