.contact-title {
    font-size: 24px;
    /* margin-bottom: 20px; */
}

.contact-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-card-title {
    display: flex;
}

.contact-icon {
    padding: 2px;
}

.contact-card h3 {
    font-size: 18px;
    margin: 2px;
}

.contact-card p {
    color: rgba(120, 119, 116, 1);
    font-size: 14px;
}

.contact-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    margin-right: 2px;
    /* Adjust the margin as needed */
}



@media (max-width: 650px) {
    .contact-cards {
        flex-direction: column;
    }
}

/* Added styles for button hover effect */
.contact-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}